body{

    background-color: rgba(221, 237, 46, 0.661);

}
#outer{
    height: auto;
    width: 1200px;
    margin: 0px auto;

}
.nav{
    height: 50px;
    width: 100%;
    background-color: white;
    border-radius: 30px 30px 0px 0px;
    border: 1px solid transparent;

}
.nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight:900;
    padding: 5px;

}
.nav ul li a:hover{
    background-color: rgb(43, 230, 43);
    color: white;
    border-radius: 20px;
    transition: 0.5s ease;

}
.slider{
    height: 400px;
    width: 100%;
    background-image: url("https://i.pinimg.com/originals/0d/1a/77/0d1a7728f3564c60efcae7bbf34a7b0b.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;

    margin-top: 5px;
}
.main{
    height: 700px;
    width: 100%;
    margin-top: 5px ;
    display: flex;
    border: 1px solid transparent;
}
.left{
    height: 700px;
    width: 70%;
    background-color: white;
    border-radius: 0px 0px 0px 30px;
    padding-left: 20px;
    font-size: 20px;
    
}
.d1{
    height: 680px;
    width: 95%;
}
.right{
    height: 700px;
    width: 30%;
    background-color: rgb(115, 225, 115);
    border-radius: 0px 0px 30px 0px;
    padding-left: 15px;
    font-size: 17px;
}
.right ul li{
    margin-top: 10px;
}
.footer{
   height: 300px;
   width: 100%;
   background-color: white;
   border: 1px solid transparent;
   border-radius: 30px;
   margin-top: 10px;
   display: flex;
}
.child1{
    height: 280px;
    width: 31.3%;
    border: 1px solid transparent;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 30px;
    padding-left: 15px;
    font-size: 18px;
}
.i1{
    height: 260px;
    width: 98%;
}
.child1 h3{
    height: 10px;

}
.child1 img{
    height: 80px ;
    width: 70px;
    margin-top: 5px;
    margin-left: 10px;
    border: 1px solid black;
}
@media (max-width:576px){

  .right-top,
  .latest-news,
  .view-all{
    display:none;
  }

  .left-top{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:12px;
    white-space:nowrap;
    font-size:12px;
  }

  .news-bar{
    height:40px;
  }
}
